<a href="https://colab.research.google.com/github/anithauddisa/5g3prjct/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
print(a+b+c)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=10
b=5.5
c="anitha"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=5
b=3
print("addtion:",a+b)
print("substraction:",a-b)
print("multiplecation:",a*b)
print("division:",a/b)

addtion: 8
substraction: 2
multiplecation: 15
division: 1.6666666666666667

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
input_string = "1 2 3 "
numbers = input_string.strip().split()
integers = [int(num) for num in numbers]
floats = [float(num) for num in numbers]
print("Integer values:", integers)
print("Float values:", floats)

Integer values: [1, 2, 3]
Float values: [1.0, 2.0, 3.0]

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
user_input = input("Enter a string: ")
if user_input:
    print("The first character is:", user_input[0])
else:
    print("The string is empty!")

Enter a string: hello
The first character is: h

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
user_input = input("Enter a string: ")
print("The length of the string is:", len(user_input))

Enter a string: uddisa anitha!!
The length of the string is: 15

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
user_input = input("Enter a string: ")
if user_input.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string contains characters other than alphabets.")

Enter a string: anitha12
The string contains characters other than alphabets.

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
result = string1 + string2
print("The concatenated string is:", result)

Enter the first string: anitha
Enter the second string: uddisa
The concatenated string is: anithauddisa

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)

user_input = input("Enter a string: ")
substring = "abc"
index = user_input.find(substring)
if index != -1:
    print(f"The substring '{substring}' is found at index {index}.")
else:
    print(f"The substring '{substring}' is not found in the string.")

Enter a string: abcdefgh
The substring 'abc' is found at index 0.

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
user_input = input("Enter a string: ")
uppercase_string = user_input.upper()
lowercase_string = user_input.lower()
print("Uppercase version:", uppercase_string)
print("Lowercase version:", lowercase_string)

Enter a string: uddisa anitha
Uppercase version: UDDISA ANITHA
Lowercase version: uddisa anitha

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
user_input = input("Enter a string: ")
character = input("Enter the character to count: ")
count = user_input.count(character)
print(f"The character '{character}' appears {count} times in the string.")

Enter a string: anitha uddisa
Enter the character to count: a
The character 'a' appears 3 times in the string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
username = input("Enter your name: ")
print(f"Hello, {username}, Good Morning!")

Enter your name: anitha uddisa
Hello, anitha uddisa, Good Morning!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
sum_result = num1 + num2
print("The sum of", num1, "and", num2, "is:", sum_result)

Enter the first number: 12
Enter the second number: 10
The sum of 12.0 and 10.0 is: 22.0

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello {name}! You are {age} years old.")

Enter your name: anu
Enter your age: 18
Hello anu! You are 18 years old.

## Control Structures (Conditionals and Loops)

In [ ]:

# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
number = float(input("Enter a number: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 12
The number is positive.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
if num1 >= num2 and num1 >= num3:
    print("The maximum number is:", num1)
elif num2 >= num1 and num2 >= num3:
    print("The maximum number is:", num2)
else:
    print("The maximum number is:", num3)

Enter the first number: 12
Enter the second number: 10
Enter the third number: 4
The maximum number is: 12.0

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False
year = int(input("Enter a year: "))
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2024
2024 is a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
number = int(input("Enter a number: "))
if number % 3 == 0 and number % 5 == 0:
    print(f"{number} is divisible by both 3 and 5.")
else:
    print(f"{number} is not divisible by both 3 and 5.")

Enter a number: 15
15 is divisible by both 3 and 5.

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
string = input("Enter a string: ")
cleaned_string = string.replace(" ", "").lower()
if cleaned_string == cleaned_string[::-1]:
    print(f"'{string}' is a palindrome.")
else:
    print(f"'{string}' is not a palindrome.")

Enter a string: madam
'madam' is a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
i = 2
while i <= 20:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
number = int(input("Enter a number to print its multiplication table: "))
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Enter a number to print its multiplication table: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number n to calculate the sum from 1 to n: "))
sum_numbers = 0
i = 1
while i <= n:
    sum_numbers += i
    i += 1
print(f"The sum of all numbers from 1 to {n} is: {sum_numbers}")

Enter a number n to calculate the sum from 1 to n: 20
The sum of all numbers from 1 to 20 is: 210

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
n = int(input("Enter a number to calculate its factorial: "))
factorial = 1
i = 1
while i <= n:
    factorial *= i
    i += 1
print(f"The factorial of {n} is: {factorial}")

Enter a number to calculate its factorial: 12
The factorial of 12 is: 479001600

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms in the Fibonacci sequence: "))
a, b = 0, 1
print("Fibonacci sequence:")
count = 0
while count < n:
    print(a, end=" ")
    a, b = b, a + b
    count += 1
print()

Enter the number of terms in the Fibonacci sequence: 5
Fibonacci sequence:
0 1 1 2 3

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
print("Prime numbers from 1 to 100:")
for number in range(1, 101):
    if is_prime(number):
        print(number, end=" ")

Prime numbers from 1 to 100:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
for number in range(1, 101):
    if number > 50:
        print(f"Breaking out of the loop at number: {number}")
        break
    else:
        print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
Breaking out of the loop at number: 51

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for number in range(1, 21):
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
user_string = input("Enter a string: ")
char_to_count = input("Enter the character to count: ")
count = 0
for char in user_string:
    if char == char_to_count:
        count += 1
print(f"The character '{char_to_count}' appears {count} times in the string.")

Enter a string: anithamamatha
Enter the character to count: a
The character 'a' appears 5 times in the string.

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [2]:
# Write a Python program to create a list of integers and print the sum of the elements.
numbers=[10,20,30,40,50]
sum_of_numbers=sum(numbers)
print("the sum of the elements in the list is:",sum_of_numbers)

the sum of the elements in the list is: 150

In [3]:
# Write a Python program to find the largest element in a list.
numbers=[10,20,30,40,50]
largest_element=max(numbers)
print("the largest elements in the list is:",largest_element)

the largest elements in the list is: 50

In [4]:
# Write a Python program to reverse a list.
numbers=[10,20,30,40,50]
numbers.reverse()
print("reverse list:",numbers)

reverse list: [50, 40, 30, 20, 10]

In [5]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [10, 20, 30, 20, 40, 20, 50]
element_to_remove = 20
numbers = [num for num in numbers if num != element_to_remove]
print("List after removing all occurrences of", element_to_remove, ":", numbers)

List after removing all occurrences of 20 : [10, 30, 40, 50]

In [8]:
# Write a Python program to find the index of an element in a list.
numbers = [10, 20, 30, 40, 50]
element_to_find = 30
try:
    index_of_element = numbers.index(element_to_find)
    print(f"The index of {element_to_find} is:", index_of_element)
except ValueError:
    print(f"{element_to_find} is not in the list.")

The index of 30 is: 2

In [9]:
# Write a Python program to find if a specific element exists in a list.
numbers = [10, 20, 30, 40, 50]
element_to_find = 30
if element_to_find in numbers:
    print(f"{element_to_find} exists in the list.")
else:
    print(f"{element_to_find} does not exist in the list.")

30 exists in the list.

In [10]:
# Write a Python program to remove duplicates from a list.
numbers = [10, 20, 30, 20, 40, 50, 30, 10]
unique_numbers = list(set(numbers))

print("List after removing duplicates:", unique_numbers)

List after removing duplicates: [40, 10, 50, 20, 30]

In [11]:
# Write a Python program to count the occurrences of an element in a list.
numbers = [10, 20, 30, 20, 40, 50, 20]
element_to_count = 20
occurrences = numbers.count(element_to_count)
print(f"The element {element_to_count} occurs {occurrences} times in the list.")

The element 20 occurs 3 times in the list.

In [12]:
# Write a Python program to get the number of even numbers in a list.
numbers = [10, 21, 30, 43, 50, 60, 75, 80]
even_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
print(f"The number of even numbers in the list is: {even_count}")

The number of even numbers in the list is: 5

In [13]:
# Write a Python program to create a tuple and print it.
my_tuple = (10, 20, 30, 40, 50)
print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30, 40, 50)

In [14]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (10, 20, 30, 40, 50)
tuple_to_list = list(my_tuple)
print("Tuple converted to List:", tuple_to_list)
list_to_tuple = tuple(tuple_to_list)
print("List converted back to Tuple:", list_to_tuple)

Tuple converted to List: [10, 20, 30, 40, 50]
List converted back to Tuple: (10, 20, 30, 40, 50)

In [15]:
# Write a Python program to find the maximum and minimum values in a tuple.
my_tuple = (10, 20, 30, 40, 50)
max_value = max(my_tuple)
min_value = min(my_tuple)
print("The maximum value in the tuple is:", max_value)
print("The minimum value in the tuple is:", min_value)

The maximum value in the tuple is: 50
The minimum value in the tuple is: 10

In [16]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print("The value of a:", a)
print("The value of b:", b)
print("The value of c:", c)

The value of a: 10
The value of b: 20
The value of c: 30

In [17]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {10, 20, 30, 40}
my_set.add(50)
element_to_check = 30
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")
print("Updated set:", my_set)

30 exists in the set.
Updated set: {40, 10, 50, 20, 30}

In [18]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {
    "name": "Anu",
    "age": 19,
    "city": "rajamundry",
    "job": "Engineer"
}
print("The dictionary is:", my_dict)

The dictionary is: {'name': 'Anu', 'age': 19, 'city': 'rajamundry', 'job': 'Engineer'}

In [20]:
# Write a Python program to access a dictionary value using a key.
my_dict = {
    "name": "Anu",
    "age": 19,
    "city": "hyd",
    "job": "Engineer"
}
key_to_access = "age"
value = my_dict[key_to_access]
print(f"The value for the key '{key_to_access}' is: {value}")

The value for the key 'age' is: 19

In [21]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {
    "name": "Anitha",
    "age": 19,
    "city": "vikarabad",
    "job": "Engineer"
}
key_to_check = "age"
if key_to_check in my_dict:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'age' exists in the dictionary.

In [23]:
# Write a Python program to merge two dictionaries.
dict1 = {
    "name": "mamatha",
    "age": 19
}

dict2 = {
    "city": "New Yor",
    "job": "Engineer"
}
dict1.update(dict2)
print("Merged dictionary:", dict1)

Merged dictionary: {'name': 'mamatha', 'age': 19, 'city': 'New Yor', 'job': 'Engineer'}

In [24]:
# Write a Python program to remove a key from a dictionary.
my_dict = {
    "name": "thingari",
    "age": 19,
    "city": "New York",
    "job": "Engineer"
}
key_to_remove = "age"
if key_to_remove in my_dict:
    my_dict.pop(key_to_remove)
    print(f"The key '{key_to_remove}' has been removed.")
else:
    print(f"The key '{key_to_remove}' does not exist.")
print("Updated dictionary:", my_dict)

The key 'age' has been removed.
Updated dictionary: {'name': 'thingari', 'city': 'New York', 'job': 'Engineer'}

In [26]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {
    "name": "deepika",
    "age": 25,
    "city": "New York",
    "job": "Engineer"
}
num_keys = len(my_dict)
print("The number of keys in the dictionary is:", num_keys)

The number of keys in the dictionary is: 4

In [27]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {
    "a": 10,
    "b": 20,
    "c": 5,
    "d": 30,
    "e": 25
}
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())
print("The largest value in the dictionary is:", largest_value)
print("The smallest value in the dictionary is:", smallest_value)

The largest value in the dictionary is: 30
The smallest value in the dictionary is: 5

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`